@charset "UTF-8";
#card_analysis {
  margin: 0;
  padding: 0;
  position: relative;
  width: 940px;
  height: 240px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin-bottom: 20px;
}
#card_analysis .arc path {
  stroke: #000;
}
#card_analysis .card-part {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
  background: white;
}
#card_analysis #allanalitic {
  display: block;
}
#card_analysis #allanalitic_card {
  position: relative;
}
#card_analysis .circle {
  position: absolute;
  /*    display: flex;*/
}
#card_analysis #kprc {
  top: 10px;
  left: 0;
}
#card_analysis #mins {
  top: 10px;
  left: 20%;
}
#card_analysis #vits {
  bottom: 10px;
  left: 35%;
}
#card_analysis #water {
  top: 10px;
  left: 50%;
}
#card_analysis #cellulose {
  bottom: 10px;
  right: 5%;
}
#card_analysis #sugar {
  top: 10px;
  right: -8%;
}
#card_analysis .circle text {
  font-size: 10px;
}
#card_analysis #btnsPart {
  height: 240px;
  width: 20px;
  /*background: aquamarine;*/
  position: absolute;
  top: 0;
  left: 940px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#card_analysis button {
  border: 0;
  border-radius: 0 5px 5px 0;
  height: 33.3333333333%;
  width: 15px;
  word-wrap: break-word;
  color: #2B2B2B;
}
#card_analysis #btnAll {
  background-color: #7B58AD;
}
#card_analysis #btnMin {
  background-color: #FF4F99;
}
#card_analysis #btnVit {
  background-color: #B14FFF;
}
#card_analysis .button {
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 8px;
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
#card_analysis .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#card_analysis .button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#card_analysis .button:hover span {
  padding-right: 25px;
}
#card_analysis .button:hover span:after {
  opacity: 1;
  right: 0;
}
#card_analysis #minerals > div,
#card_analysis #vitamins > div {
  padding: 10px;
  border-radius: 5px;
}