/* set the position of dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown button{
    width: 75px;
}
/* set the size and position of button on web */
.button {

}
/* provide css to background of list items */
.list-items-for-sort{
    overflow-y: scroll;
    display: none;
    max-height: 92px;
    position: absolute;
    background-color: white;
    min-width: 75px;
    position: absolute;
    z-index: 6;
}
.list-items-for-sort button{
    display: block;
    text-decoration: none;
}