form.search{
    display:grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    margin-left: 0px;

}
form.search button,
form.search input{

    margin-top: 0px;
}
form{
    display:inline-grid;
    width: 100%;
}
input{
    height: 30px;
    margin-left: 10px;
}
select{
    margin-left: 10px;
}
form label{
    margin-top: 15px;
    margin-bottom: 3px;
}
form label:nth-child(1){
    margin-top: 5px;
    margin-bottom: 3px;
}
form label.radio{
    margin-top: 5px;
}
div.radio{
    margin-top: 20px;
    display: inline;
}
form button{
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px;
    border: 0px;
    background-color: var(--main);
    color: var(--white);
    border: 1px solid var(--main3);
    border-radius: 2px;
}
form button:hover{
    background-color:var(--main);
    color: var(--white);
    border:1px solid var(--main3);
}
/*
form button[type=button]{
    background-color: #7e4545;
    color: white;
    border: 1px solid #502f2f;
}
form button[type=button]:hover{
    background-color:#7c3a3a;
    color: white;
    border:1px solid #502f2f;
}
form button[type=reset]{
    background-color: #457e5f;
    color: white;
    border: 1px solid #223d2e;
}
form button[type=reset]:hover{
    background-color:#318356;
    color: white;
    border:1px solid #223d2e;
}*/
.container-input-2{
    display: grid;
    width: 70%;
    grid-template-columns: 50% 50%;
}
.container-input-2 input,
.container-input-2 select{
    margin-top: 20px;
}
.container-input-4{
    display: grid;
    width: 70%;
    grid-template-columns: 24% 24%;
}
.container-input-4 input,
.container-input-4 select{
    margin-top: 20px;
}
.container-input-5{
    display: grid;
    width: 70%;
    grid-template-columns: 19% 19% 19% 19% 19%;
}
.container-input-5 input{
    margin-top: 20px;
}
/* if somethings not works - change */
/* form span{
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: var(--white);
    color: var(--main);
    border-radius: 2px;
}
form span:hover{
    background-color: var(--main);
    color: var(--white);

} */
th button{
    margin-top: 0px;
}
th button:hover{
   cursor: pointer; 
}
#cnt.input{
    width: 20px;
}
textarea{
    margin-top: 20px;
    min-height: 100px;
    max-height: 300px;
    margin-left: 10px;
    max-width: 265px;
    min-width: 260px;
    
}
div#AddRecipe{
    position: absolute;
    width: 500px;
    height: 400px;
}
#Addrecipe div.form-addrecipe{
    position: relative;
    width: 400px;
    height: inherit;
}
.form-part
{
    position: absolute;
    left: 20px;
    width: 400px;
}
.form-head
{
    position: relative !important;
    top: 20px;
}
.form-media
{
    top: 50px;
}
.addBox
{
    background-color: white;
    width: 30%;
height: 115px;
border: 1px dashed #7C7C7C;
color:#7C7C7C ;
border-radius: 3px;
}
/* .addBox{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
width: 30%;
height: 115px;
border: 1px dashed #7C7C7C;
color:#7C7C7C ;
border-radius: 3px;
}
.addBox p{
    position: absolute;
    top: 25%;
    left: 25%;
} */
.addBox:hover{
    background-color: white;
color:#223d2e;
border: 1px dashed #223d2e;
}
.form-listOfIngrs
{
   top: 200px;
}

select,
input
{
    height: 30px;
}

input.hiden{
    text-align: right;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100px; 
}
.form-btns{
    bottom: 0px;

}
.form-btns button{
    width:30%;
}
/* #inputName{
    width: 70%;
}
#inputType{
    width: 30%;
} */
.delete{
    color: #bd4e4e0a;
}
.delete:hover{
    color: #bd4e4e;
}
.form-listOfIngrs th{
    font-weight: normal;
}
.ingrname{
    width:170px;
}
.ingrwht{
    width:70px;
}
#ingrweight{
    width: 100px;
}
