.pagination {
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: center;
}
.pagination:after {
  content: "";
  clear: both;
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background-color: var(--front);
  color: var(--text);
  cursor: pointer;
  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}
.pagination-button:hover {
  background-color: var(--hover);
  color: #fff;
}
.pagination-button.active {
  background-color: var(--main);
  border-color: var(--main);
  color: #fff;
}
.pagination-button:first-of-type {
  border-radius: 18px 0 0 18px;
}
.pagination-button:last-of-type {
  border-radius: 0 18px 18px 0;
}

/* arbitrary styles */
.heading {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}

