.progress-multiple{
    display:inline-flex;

}
.progress-bar{
    width:95%;
    height: 24px;
    background-color:var(--main2);
    margin: 2px; 
    break-inside: avoid;
}
.progress{
    display: block;
    text-align:center;
    transition: width 500ms ease-in-out;
    height: 24px;
    background-color:rgba(103, 73, 187, 0.349); 

}
#vit,#min{
    width: 500px;
}
#min .progress-bar .progress,
#vit .progress-bar .progress,
#min .progress-bar,
#vit .progress-bar
{
    height: 5px;
    border-radius: 3px;
}
.progress-water{
    background-color:#6633993f;
}
.progress-cellulose{
    background-color:#6633993f;
}
.progress-vit{
    background-color:#6633993f;
}
.progress-min{
    background-color:#6633993f;
}
.progress-carb{
    background-color:rgba(9, 9, 224, 0.295)
}
.progress-protein{
    background-color:rgba(255, 0, 0, 0.329);
}
.progress-fat{
    background-color:rgba(255, 255, 0, 0.349);
}
.grid-2{
    display:grid;
    grid-template-columns: auto auto;
}
.progress-bar#finanse{
    width: 97.5%; 
}
.progress-bar#finanse .progress{
    background-color:rgba(255, 196, 0, 0.349); 
}