button.color{
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin: 10px;
    border: 2px solid rgba(51, 51, 51, 0);
    padding: 5px;
    color: white;
}
button.color.active{
    width: 55px;
    height: 55px;
    margin: 7.5px;
    box-shadow: 5px 5px 10px 0px rgb(87, 85, 85);
    
}

button.color.active:hover{
    box-shadow: 5px 5px 10px 0px rgb(87, 85, 85);
    
}
button.color:hover{
    /*-webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);*/
  box-shadow: 2.5px 2.5px 5px 0px rgb(87, 85, 85);
  cursor: pointer;
}

button.color#green{
    background-color: #3E793F;
}
button.color#yellow{
    background-color: #666666;
}
button.color#blue{
    background-color: #447C99;
}
button.color#red{
    background-color: #BD2828;
}
button.color#violet{
    background-color: #7B58AD;
}
button.color#light{
    color: #333333;
    background-color: #dbdbdb;
}
button.color#dark{
    background-color: #555555;
}
button.color#grey{
    background-color: #323232;
}

