#card_analysis {
  margin: 0;
  padding: 0;
  position: relative;
  width: 940px;
  height: 240px;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--shadow);
  margin-bottom: 20px;

  .arc path {
    stroke: #000;
  }

  .card-part {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    background: white;
  }

  #allanalitic {
    display: block;
  }

  #allanalitic_card {
    position: relative;
  }

  .circle {
    position: absolute;
    /*    display: flex;*/
  }

  #kprc {
    top: 10px;
    left: 0;
  }
  #mins {
    top: 10px;
    left: 20%;
  }
  #vits {
    bottom: 10px;
    left: 35%;
  }
  #water {
    top: 10px;
    left: 50%;
  }
  #cellulose {
    bottom: 10px;
    right: 5%;
  }
  #sugar {
    top: 10px;
    right: -8%;
  }

  .circle text {
    font-size: 10px;
  }

  #btnsPart {
    height: 240px;
    width: 20px;
    /*background: aquamarine;*/
    position: absolute;
    top: 0;
    left: 940px;
    display: inline-flex;
    flex-direction: column;
  }
  button {
    border: 0;
    border-radius: 0 5px 5px 0;
    height: calc(100% / 3);
    width: 15px;
    word-wrap: break-word;
    color: #2B2B2B;
  }

  #btnAll {

    background-color: #7B58AD;
  }

  #btnMin {
    background-color: #FF4F99;
  }

  #btnVit {
    background-color: #B14FFF;
  }

  .button {
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 8px;
    width: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #minerals>div,
  #vitamins>div{
    padding: 10px;
    border-radius: 5px;
  }
}
