
.btn{

  height: 25px;
  margin: calc($distance / 3);
  padding: 0 10px 0 10px;
width: content-box;
  border-radius: 5px;
  border: 1.5px  solid var(--btn-bdr);

  background: var(--btn-bg);
  color: var(--main-tx);
}
.btn:hover{
  cursor: pointer;
}
.btn:active{
  opacity: .5;
}
.btn:disabled{
  background: lightgray;
  border-color: darkgray;
  color: darkgray;
  opacity: 0.8;
}
.btn:disabled:active{
  opacity: 0.8;
}
.btn:disabled:hover{
  cursor: auto;
}
.btn-important{
  height: 30px;
}
.menu-info-btn{
  width: auto;
}
.btn-setting{
  color:var(--main);
  background: var(--main2);
  border-color: var(--main2);
}
.btn-setting.active{

  color:var(--white);
  background: var(--btn);
  border-color: var(--btn);
}
.btn-filter-sort{
  color:var(--main);
  background: var(--main2);
  border-color: var(--main2);
}
.btn-filter-sort.active{

  color:var(--white);
  background: var(--btn);
  border-color: var(--btn);
}
.btn-icon{
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: $border_radius;
  border: 1px  solid var(--main);
  background: var(--main3);
  box-shadow: $shadow;
  ion-icon{
    color: var(--white);
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

}
.btn-icon:hover{
  background: var(--main);
}
.btn-color{
  width: 45px;
  height: 45px;
  padding: calc($distance / 2);
  margin: $distance;
  border:none ;
  color: var(--white);
}
.btn-color:hover{
  box-shadow: $shadow;
}
.btn-color#red{background-color: red;}
.btn-color#green{background-color: green;}
.btn-color#blue{background-color: blue;}
.btn-color#gray{background-color: gray;}
.btn-color#yellow{background-color: yellow;}
.btn-color#purple{background-color: purple;}

.btn-search{
  height: 30px;
}


form{
  /*1st*/
  /*.btn[type="submit"]{
    background: var(--btn-submit);
    border-color:  var(--btn-submit);
  }
  .btn[type="button"]{
    background: var(--btn-cancel);
    border-color:  var(--btn-cancel);
  }*/
  /*2nd*/

  .btn[type="submit"]{
  }
  .btn{
    height: 30px;
  }
}
.btn-secondary {

  opacity: 0.8;
}
.btn-cancel{
  background: var(--white);
  border-color:  var(--btn-bdr);
  color:  var(--btn-bdr);
}
.btn-small{
height: 25px ;
}