.page_navigation {
  margin-top:30px;
  width: 100%;
  text-align: center }
.page_navigation ul {
  padding: 0 }
.page_navigation li {
  display: inline;
  color: black;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
.page_navigation li a:visited{
  text-decoration: none;
  color: black;
}
.page_navigation li.active_page {
  color:white;
  background-color: var(--main);
}
.page_navigation li:hover{
  background-color: var(--main2);
}
.page_navigation li:hover a
{
  color:black;
  background-color: rgba(0, 0, 0, 0);
}
.page_navigation li.active_page:hover a{
  color:black;
  background-color: rgba(0, 0, 0, 0);
}
.page_navigation li.active_page a{
  color:white;
  background-color: var(--main);
}
.page_navigation li a:link,
.page_navigation li a:visited,
.page_navigation li a:active,
.page_navigation li a{
  text-decoration: none;
}

/*previous and next pages*/
.page_navigation li.previous_link,
.page_navigation li.next_link
{
  border-radius: 5px;
  background-color: var(--main);
}
.page_navigation li.previous_link a,
.page_navigation li.next_link a
{
  color:white;
  background-color: var(--main);
}
/*
.page_navigation li.previous_link:hover,
.page_navigation li.next_link:hover
{
    background-color: var(--main2);
}
.page_navigation li.previous_link:hover a,
.page_navigation li.next_link:hover a
{
    background-color: transparent;
}*/

