
#finance{
margin-right: 0px;
  margin-left: 20px;
  .progress{
    height: 30px;
    width: 100%;
    overflow: hidden;
    background: lightgray;
    border-radius: $border_radius;
    .progress-bar{
      width: 0%;
      height: 30px;
      font-size: large;
      color: white;
      background: darkgoldenrod;
    }
  }



}