:root {
    --shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);

    --main: #a314e0;
    --main2: #ba1cff50;
    --main3: #392838;
    --front: #c5aaff;
    --back: #f1c0ff;
    
    --btn: #8690e6;

    --btn-bg: var(--btn);
    --main-tx: var(--white);
    --btn-bdr: var(--btn);
    --btn-submit: #9932CC;
    --btn-cancel: #8A2BE2;
    --gray: #7e7e7e;

    --text: var(--main);
    --hover: #1515857c;
    --white: rgb(255, 255, 255);
    --white-r: #0000009c;
    --grey: #808080;
    --black1: #222;
    --black2: #999;
    --min: #FF4F99;
    --vit: #B14FFF;
}