#shopping_list {
  table {

    caption {
      background-color: var(--main);
      border-radius: $border_radius;
      color: white;
      height: 25px;

      /*color: black;
      border-bottom: 1px solid black;
      background-color: gainsboro;
      */
      h3 {
        font-weight: 100;
        font-variant: small-caps;
      }

      img {
        //margin-top: 2.5px;
        filter: invert(1);
        margin-top: 4px;
      }
    }

    caption:hover {
      cursor: pointer;
    }

    tr {
      width: 100%;

      td.check {
        width: 10%;
      }

      td.name {
        width: 25%;
      }

      td.dish {
        width: 25%;
      }

      td.weight {
        width: 20%;
      }

      td.price {
        width: 20%;
      }
    }

    tr:hover {
      background-color: white;
    }
  }

}

ul.list-none {
  list-style: none;
}

ul.list-numeric {
  list-style: auto;
}

span {
  position: relative;

  img {
    position: absolute;
    top: 0px;
    left: -20px;
  }
}