.btn {
  height: 30px;

  /*margin: calc($distance / 3);*/
  font-size: 14px;
  padding: 0 5px;
  width: content-box;
  border-radius: $border_radius;
  border: 1.5px solid var(--btn-bdr);
  background: var(--btn-bg);
  color: var(--main-tx);
  transition: $transition/2;
}

.btn-secondary {
  opacity: 0.8;
}

.btn-cancel {
  background: var(--white);
  border-color: var(--btn-bdr);

  color: var(--btn-bdr);
}

button.btn-with-icon {
  background: var(--back);
  border-color: var(--back);
  color: var(--btn-bdr);
  height: 30px;
  width: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    --ionicon-stroke-width: 64px;
    color: var(--btn-bdr);
  }
}

button.btn-with-icon:hover {
  background: var(--front);
  border-color: var(--front);
  color: var(--white);
}

.btn:hover {
  cursor: pointer;
  opacity: .5;
}

.btn:active {
  opacity: 0.5;
}

.btn:disabled {
  background: lightgray;
  border-color: darkgray;
  color: darkgray;
  opacity: 0.8;
}

.btn:disabled:active {
  opacity: 0.8;
}

.btn:disabled:hover {
  cursor: auto;
}

.btn-important {
  height: 30px;
}

.menu-info-btn {
  width: auto;
}

.btn-setting {
  color: var(--front);
  background: var(--back);
  border-color: var(--back);
}

.btn-setting.active {
  color: var(--white);
  background: var(--btn);
  border-color: var(--btn);
}

.btn-filter-sort {

  transition: $transition/2;
  color: var(--main);
  background: var(--back);
  border-color: var(--main);
  height: 25px;
}

.btn-filter-sort.active {
  color: var(--white);
  background: var(--btn);
  border-color: var(--btn);
}

.btn-filter-sort:hover {
  border-color: var(--front);
  background-color: var(--front);
  color: var(--white);
}

.btn-icon {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: $border_radius;
  border: 1px solid var(--front);
  background: var(--main3);
  box-shadow: $shadow;
}

.btn-icon ion-icon {
  color: var(--white);
  height: 18px;
  width: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn-icon:hover {
  background: var(--front);
}

.btn-color {
  width: 100px;
  height: 50px;

  padding: calc($distance / 2);
  margin: $distance*2 $distance;
  border: none;
  border-radius: $border_radius;
  // color: var(--white);
  // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.btn-color span {
  color: rgb(0, 0, 0);
  position: relative;
  top: 100%;
  word-wrap: break-word;
  text-transform: capitalize;
}

.btn-color:hover {
  box-shadow: $shadow;
}

.btn-color#red_green {
  background-image: linear-gradient(to bottom, #DA2A2A 50%, #64C264 50%);
}

.btn-color#green_purple {
  background-image: linear-gradient(to bottom, #277F27 50%, #532496 50%);
}

.btn-color#blue_orange {
  background-image: linear-gradient(to bottom, #50a4bd 50%, #ffa927 50%);
}

.btn-color#yellow_orange {
  background-image: linear-gradient(to bottom, #ffa927 50%, #ffa927 50%);
}

.btn-color#purple_yellow {
  background-image: linear-gradient(to bottom, #7B58AD 50%, #FFF040 50%);
}

.btn-color#red {
  background-image: linear-gradient(to right, #c43b3b 50%, #c43b3b 50%);
}

.btn-color#green {
  background-image: linear-gradient(to right, #4ba04e 50%, #4ba04e 50%);
}

.btn-color#blue {
  background-image: linear-gradient(to right, #50a4bd 50%, #50a4bd 50%);
}

.btn-color#gray {
  background-image: linear-gradient(to right, #323232 50%, #323232 50%);
}

.btn-color#yellow_gray {
  background-image: linear-gradient(to bottom, #666666 50%, #F2F3A5 50%);
}

.btn-color#purple {
  background-image: linear-gradient(to right, #532496 50%, #532496 50%);
}

.btn-search {
  height: 30px;
}


form .btn {
  height: 30px;
}


.btn-small {
  height: 25px;
}