.filter,
.sort,
.search {
  width: 100%;
  margin: 5px;
}

.filter-sort button {
  margin: 5px;
  padding: 5px;
  border: 0px;
  background-color: var(--main2);
  color: var(--main2);
  border-radius: 2px;
}

.filter-sort button.active {
  background-color: var(--main);
  color: var(--white);
}

.filter-sort button:hover {
  background-color: var(--main3);
  color: var(--white);
}


#myInput{
  position: absolute;
  right: 10px;
}

