/*margin*/
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 3px;
}

.m-2 {
  margin: 5px;
}

.m-3 {
  margin: 10px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 30px;
}

.m-auto {
  margin: 40rem;
}

/*margin-left*/
.m-l-0 {
  margin-left: 0;
}

.m-l-1 {
  margin-left: 3px;
}

.m-l-2 {
  margin-left: 5px;
}

.m-l-3 {
  margin-left: 10px;
}

.m-l-4 {
  margin-left: 20px;
}

.m-l-5 {
  margin-left: 30px;
}

.m-l-auto {
  margin-left: 40rem;
}

/*margin-right*/
.m-r-0 {
  margin-right: 0;
}

.m-r-1 {
  margin-right: 3px;
}

.m-r-2 {
  margin-right: 5px;
}

.m-r-3 {
  margin-right: 10px;
}

.m-r-4 {
  margin-right: 20px;
}

.m-r-5 {
  margin-right: 30px;
}

.m-r-auto {
  margin-right: 40rem;
}

/*margin-top*/
.m-t-0 {
  margin-top: 0;
}

.m-t-1 {
  margin-top: 3px;
}

.m-t-2 {
  margin-top: 5px;
}

.m-t-3 {
  margin-top: 10px;
}

.m-t-4 {
  margin-top: 20px;
}

.m-t-5 {
  margin-top: 30px;
}

.m-t-auto {
  margin-top: 40rem;
}

/*margin-bottom*/
.m-b-0 {
  margin-bottom: 0;
}

.m-b-1 {
  margin-bottom: 3px;
}

.m-b-2 {
  margin-bottom: 5px;
}

.m-b-3 {
  margin-bottom: 10px;
}

.m-b-4 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 30px;
}

.m-b-auto {
  margin-bottom: 40rem;
}

/*margin-x*/
.m-x-0 {
  margin-right: 0;
  margin-left: 0;
}

.m-x-1 {
  margin-right: 3px;
  margin-left: 3px;
}

.m-x-2 {
  margin-right: 5px;
  margin-left: 5px;
}

.m-x-3 {
  margin-right: 10px;
  margin-left: 10px;
}

.m-x-4 {
  margin-right: 20px;
  margin-left: 20px;
}

.m-x-5 {
  margin-right: 30px;
  margin-left: 30px;
}

.m-x-auto {
  margin-right: 40rem;
  margin-left: 40rem;
}

/*margin-y*/
.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-y-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.m-y-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-y-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-y-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-y-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-y-auto {
  margin-top: 40rem;
  margin-bottom: 40rem;
}
/*inherit*/
.m-i{margin: inherit}
.m-i-l{margin: inherit}
.m-i-r{margin: inherit}
.m-i-t{margin: inherit}
.m-i-b{margin: inherit}
.m-i-x{margin: inherit}
.m-i-y{margin: inherit}
