
.modal.warning{
  .modal-content {
    background-color: #f44336;
    color: white;
  }
  .modal-header,
  .modal-footer{
    background-color: #d32f2f;
  }
  .modal-header {
    border-bottom: 2px solid #d32f2f;
  }
  .modal-body {
    border-bottom: 2px solid #d32f2f;
  }
  .modal-footer {
    border-top: 2px solid #d32f2f;
  }
  /* The Close Button */
  .close {
    color: white;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
  }
  img.product{
    border: 2px solid #d32f2f;
  }
  .modal-info{
    background-color: #d32f2f;
  }
  .info-circles{
    border-top: 2px solid #d32f2f;
  }
  .info-circles>div{
    border-right: 2px solid #d32f2f;
  }
  .info-data{
    border-top: 2px solid #d32f2f;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    max-height: 80%;
    overflow: auto;

  }
  .modal-header,
  .modal-body,
  .modal-footer{
    padding: 10px;

  }
  .modal-header {
    border-bottom: 1px solid #888;


  }
  .modal-body {
    border-bottom: 1px solid #888;


   }
  .modal-footer {
    border-top: 1px solid #888;

    }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;


  }
  img.product{
    border: 2px solid #888;

  }
  .modal-info{
    background-color: #888;
  }
  .info-circles{
    border-top: 1px solid #888;

  }
  .info-circles>div{
    border-right: 1px solid #888;

  }
  .info-data{
    border-top: 1px solid #888;
    
  }
}

