@import 'variables';

@import 'preloader';

@import 'navbar';
@import 'page';
@import 'card';

@import 'flex';

@import 'table';
@import 'grid';
@import 'grid_layout';
@import 'forms';
@import 'error';

@import 'buttons';
@import 'text';

@import 'icons';
@import 'image';

@import 'pagination';
@import 'filter_sort';
@import 'progres_bar';
@import 'switch';

@import 'modal';
@import 'context_menu';

@import 'list';


@import 'border';


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.hiden-element {
  visibility: hidden;
}

.none-element {
  display: none;
}