@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

a.clear-link {
  text-decoration: none;
  color: var(--black1);
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-description {
  padding: 10px;
  font-size: xx-small;
  overflow: hidden;
  text-wrap: normal;
}

p {
  margin: 10px;
}

.add-card h6 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: $transition;
}

.add-card:hover h6 {
  color: darkblue;
}

.card-day h6,
.card-daytime h6,
.card-time h6 {
  color: var(--white);
}

.t-w-0 {
  font-weight: normal;
}